#primary {
  margin-top: 5em;

  p,li {
    color: #2c3442;
    font-family: verdana;
    font-weight: 400;
    font-size: 0.9rem;

  }
 .entry-content {
  ul {
    margin: 0;
    padding: 0 1em;
    list-style-type: disc;
}
}

}

.single-casestudies {
  #primary {
    p {
      padding-left: 0.9rem;

    }
  }
}

article {
    margin: 1.5em 0;
}

@media (min-width: 600px) {
.main_content {
  display: flex;
}
}

main {
  width: 100%;
  margin: 1em 0;
}

@media (min-width: 600px) {
main {
  width: 60%;
  padding-right: 1em;
}

}

aside {
  width: 100%;
  border-left: 1px dashed $grey;
  padding-left: 1em;
  margin: 1em 0;
}

@media (min-width: 600px) {
  aside {
    width: 40%;
  }
}

.main_content{

  a:link,
  a:visited {
    color: $red;
    text-decoration: none;
    line-height: 1rem;
    font-weight: 400;
    padding: 2px 6px;
    transition: .5s ease-in;
  }
  a:hover {
    background: $red;
    color: white;
  }

  h2 {
    a:link,
    a:visited {
      padding: 8px 6px;
    }
  }

}
