// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.9;
$font-family: 'Raleway', sans-serif;
$black: #000;
$red: #ff414d;
$green: #18a6b6;
$grey: #2c3442;
$lgt-grey: #daedf3;
$lgt-grey2: #f4f4f4;
